<div class="mt-20 dark:bg-dark__secondary bg-[#b3def7] rounded-md w-full p-4">
    <h1 class="dark:text-light__primary text-dark__primary  text-3xl font-semibold text-center">Sobre mim</h1>
    <span class="container flex flex-col items-center justify-center text-center">
        <p class="dark:text-light__primary text-dark__primary text-xl">Eu iniciei os meus estudos em desenvolvimento em
            junho de 2022 com um curso intensívo da Digital House Brasil.
        </p>
        <p class="dark:text-light__primary text-dark__primary text-xl my-2">
            E
            foi quando eu tive a certeza de que eu queria ser um desenvolvedor, desde então venho me dedicando
            diariamente
            ao estudo da linguagem Javascript e suas bibliotecas e frameworks.
        </p>
        <p class="dark:text-light__primary text-dark__primary text-xl">
            Além das habilidades com programação eu
            também
            estudo sobre conceitos de UX/UI, DevOps, Agile Culture, Cloud e entre outros...
        </p>
        <p class="dark:text-light__primary text-dark__primary text-xl">
            Em fevereiro de 2024 eu iniciei a minha graduação em Analise e Desenvolvimento de Sistemas pela Unimar e
            pretendo evoluir cada vez mais, pessoalmente e profissionalmente.
        </p>
    </span>
</div>