a img {
    filter: drop-shadow(1px 1px 1px #5FA8D3);
    transition: all ease .3s;
}

a img:hover {
    filter: drop-shadow(0px 0px 3px #92d1fc);
}

.nav__li__desktop {
    position: relative;
    cursor: pointer;
}

.nav__li__desktop::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 4px;
    background: #92d1fc;
    border-radius: 1rem;
    display: block;

}


@keyframes borderAnimate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.nav__li__desktop:hover::after {
    animation: none;
    animation: borderAnimate 0.5s ease forwards;
    box-shadow: 1px 1px 3px #5FA8D3;
}
.nav__li__desktop:hover{
    color:#c1c1c1 ;
}
.nav__li__mobile {
    width: 100%;
    padding: 6px 64px;
}

.nav__li__mobile:hover {
    background-color: #0000003d;
}

.hamburguer__stick {
    width: 1.7rem;
    height: 3px;
    background-color: var(--primary-light-color);
    transition: transform 0.3s ease-in-out;
}

.active .hamburguer__stick:first-child {
    transform: translateY(7px) rotate(45deg);
}

.active .hamburguer__stick:nth-child(2) {
    opacity: 0;
}

.active .hamburguer__stick:last-child {
    transform: translateY(-7px) rotate(-45deg);
}

.menu__active {
    transition: transform 0.4s ease-in-out;
    animation: openMenu ease .4s;
    position: absolute;
    right: 0;
}

@keyframes openMenu {
    0% {
        right: 100%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 100%;
    }
}