.image__shadow {
    filter: drop-shadow(3px 3px 5px #1f1f1fc4);
}

.brackets {
    font-size: 5rem;
}

.title__home {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1.1;
}

@media screen and (min-width: 768px) {
    .title__home {
        font-size: 3rem;
    }
    .brackets{
        font-size: 6rem;
    }
}