<app-header />
<main class=" w-screen flex flex-col items-center">
    <div class="container flex flex-col items-center lg:flex-row lg:items-center lg:justify-between  ">
        <img class="image__shadow md:w-[30rem] mb-24" src="assets/images/image-portfolio.png" alt="image">
        <div class="flex items-center justify-center lg:ml-24">
            <span class="dark:text-light__primary text-dark__primary brackets">&#123;</span>
            <app-writter>
            </app-writter>
            <span class="dark:text-light__primary text-dark__primary  brackets">&#125;</span>
        </div>
    </div>
    <app-about></app-about>
</main>