.typewriter span {
    position: relative;
    width: 300px;
    animation: showInfo 2s ease;
    word-wrap: break-word;
}

.typewriter span::after {
    content: "";
    color: #3498DB;
    animation: typeAnimate 10s ease infinite;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    
}

@keyframes showInfo {

    0%,
    90% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes typeAnimate {

    0%,
    25% {
        content: "Desenvolvedor Full Stack";
    }

    26%,
    50% {
        content: "Cloud Architect";
    }

    51%,
    75% {
        content: "Web Designer";
    }

    76%,
    100% {
        content: "UX/UI Designer";
    }
}

@media screen and (min-width: 768px) {
    .typewriter span {
        width: 500px;
    }

    .typewriter span::after {
        font-size: 2.5rem;
    }
}